/* Header */
header {
    background-color: white;
}

header .navHeader {
    width: 80px;
}

header .navBurger i {
    cursor: pointer;
}

header .navHeader img {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

header .headIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navShop a {
    color: #131c28;
}

header .navShop span {
    font-size: 10px;
    font-weight: 600;
    position: relative;
    margin-left: 2px;
    bottom: 10px;
}

/* navigation */

.navigation.mobile-menu {
    margin-left: 0;
}

header .navigation {
    /* border: 1px solid red; */
    position: absolute;
    height: 98vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 46px;
    left: 0px;
    width: 350px;
    background-color: white;
    margin-left: -350px;
    transition: all 1s ease;
    border-right: 5px solid #e87320;
}

header .navigation .navImg {
    margin-bottom: 50px;
}

header .navigation nav {
    width: 85%;
}

header .navigation nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    margin: 0;
    padding: 0;
}

header .navigation nav ul li {
    background-color: #e87320;
    border-radius: 10px 15px;
    padding: 10px 20px;
    cursor: pointer;
}

header .navigation nav ul .active {
    background: rgba(0, 0, 0, 0.262);
}

header .navigation nav ul li:hover {
    transition: 0.8s ease;
    transform: scale(1.1);
    border-bottom: 5px solid #131c28;
}

header .navigation nav ul li a {
    color: white;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
}


/* navigation */
/* Header */
/* MAIN */
body{
    background-color: #F6F6F6;
}

.couleurimage{
    position: relative;
    top: -197px;
    width: 100%;
    height: 35vh;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, 0.573); 
}
.image{
    color: white;
}
.image .titre{
    position: relative;
    top: 35%;
    left: 35%;
    font-weight: bold;
    margin-right: 50%;
}
.image a{
    color: white;
    position: relative;
    top: 52%;
    left: 3%;
}
.image img{
margin-top: -16px;
}
.containerpaiement{
    width: 95%;
    margin: 0 auto;
    margin-top: -10%;
    /* border: 1px solid red; */
}
.containerpaiement .containertop{
    width: 100%;
    margin-left: 0.1%;
    padding: 0;
    /* border: 1px solid #ccc; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1%;
}
.containerpaiement .containertop .containertopitem{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    color: #A3A3A3;
    font-weight: 500;
    margin: 0 auto;
    font-size: 14px;
    width: 90%;
    background-color: white;
    
    
}
#active{
    background-color: #C8A165;
    color: white;
}
.containerpaiement .containermiddle{
    background-color: white;
    /* border: 1px solid green; */
    width: 98%;
    margin-left: 0.1%;
    padding-top: 3%;
    margin: 3% auto;
}.containerpaiement .containermiddle h3{
    
    font-weight: 500;
    font-size: 18px;
}

.containerpaiement .containermiddle .titrepaiement{
    text-decoration: underline 2px solid rgba(0, 0, 0, 0.164);
    text-underline-offset: 6px;

}
.containerpaiement .containermiddle form input{
    width: 95%;
    margin: 2% 0;
    height: 45px;
    background-color: #F6F6F6;
    border: none;
}
.containerpaiement .containermiddle form input::placeholder{
    font-size: 14px;
    padding-left: 4%;
    color:#A3A3A3;
}
.containerpaiement .containermiddle form select{
    width: 95%;
    margin: 2% 0;
    height: 45px;
    background-color: #F6F6F6;
    border: none;
    font-size: 14px;
    padding-left: 4%;
    color:#A3A3A3;
}
.containerpaiement .containermiddle form textarea{
    width: 95%;
    height: 150px !important;
    margin: 2% 0;
    height: 45px;
    background-color: #F6F6F6;
    border: none;
}
.containerpaiement .containermiddle form textarea::placeholder{
    padding-left: 4%;
    padding-top: 4%;  
}
.containerpaiement .containerbottom{
    /* border: 1px solid yellow; */
    width: 98%;
    margin-left: 0.1%;
    padding-top: 3%;
    margin: 3% auto;
    background-color: white;
}
.containerpaiement .containerbottom .titrepaiement{
    text-decoration: underline 2px solid rgba(0, 0, 0, 0.164);
    text-underline-offset: 6px;
}
.containerpaiement .containerbottom  h3{
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5%;
}
.containerpaiement .containerbottom .table thead th{
    background-color: #F6F6F6;
    color: #666666;
    padding-left: 7%;
}
.containerpaiement .containerbottom .table tbody th{
    color: #666666;
    padding-left: 7%;
    font-weight: normal;
    font-size: 14px;
}
.containerpaiement .containerbottom .table tbody td{
    color: #666666;
    padding-left: 7%;
    font-weight: normal;
    font-size: 14px;
}
#total th{
    color: #C97066;
}
#total td{
    color: #C97066;
}
.accordion-item button{
    background-color: #f7f7f7;
    height: 5% ;
    color:#666666 ;

}
.accordion-item{
  margin-bottom: 4%;
  color:#666666 ;
}
.containerbottomleft .boutonplaceorder{
    background-color:#C97066 ;
    color: white;
    border: none;
    font-size: 14px;
    width: 20%;
    height: 8%;
    margin-bottom: 5%;
}
@media (max-width: 767px){
    .image .titre{
        margin-top: -3%;
        font-size: 16px;
    }
    .couleurimage a{
      font-size: 10px;
    }
    .couleurimage{
        height: 9vh;
        margin-top: 35%;
    }
    .containerpaiement .containertop{
        margin-top: -42%;
        display: block;
    }
    .containerpaiement .containertop .containertopitem{
        margin-bottom: 2%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1025px){
    .couleurimage{
        height: 15vh;
        margin-top: 10%;
    }
}
/* MAIN */



/* footer */

footer {
    background-color: var(--bgFooter1);
}

footer .container {
    margin-top: 5%;
}

footer .container h4 {
    font-size: 25px;
    font-weight: bold;
    color: var(--titreFooter);
}

footer .contactus hr {
    width: 50px;
    background-color: #f86802 !important;
    height: 4px;
    border: none;
}

footer .contactus .address {
    display: flex;
}

.contactus .address .left {
    width: 40%;
    font-weight: bold;
    color: #5c5e60;
}

.contactus .address .right {
    width: 60%;
    font-size: 14px;
    color: #5c5e60;
}

.contactus1 .traitCol8 {
    width: 25%;
    background-color: rgb(254, 131, 0);
    border: none;
    height: 4px;
}

.contactus1 ul {
    padding: 0;
}

.contactus1 ul li a {
    font-size: 14px;
    color: #5c5e60;
}

.contactus1 ul li a:hover {
    color: #e87320;
    transform: scale(1.1);
    transition: 1s ease;
    margin-left: 5px;
}

.contactus1 form input {
    width: 100%;
    margin-bottom: 3%;
}

.contactus1 form button {
    background-color: white;
    font-size: 18px;
    padding: 5px 10px;
}

footer {
    border: 1px solid rgba(240, 243, 243, 0.989);
}

footer .copyRight {
    display: flex;
    justify-content: end;
    align-items: center;
}

footer .copyLeft {
    padding-top: 10px;
}

.copyRight img {
    margin-left: 10px;
}

footer .footerCopy {
    background-color: #ffffffba;
}

/* Footer */



/* Media queries */

@media(max-width: 900px) {

    .footerCopy .copyLeft p {
        text-align: center;
    }

    .footerCopy .copyRight {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

/* footer */